h1,h2{
  padding: 20px;
}

.project{
  background-color: white;
}

.paysage,
.portrait {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
  padding: 20px;
  
}

.paysage img,
.portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
