/* ********************* STYLE GENERAL  *************************** */

h1, h2{
  text-align: center;
}

h1, p,ul{
  padding-bottom: 40px;

  
}

h2{
  color: #f9f8ff;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.5em;
}

p,ul{
  font-size: 1.1em;
}

ul {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
  
}

/* ********************* MAIN *************************** */

main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ********************* SECTION ABOUT *************************** */

.about {
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
  padding: 60px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  }

/* ********************* TABLEAU *************************** */  

  table{
    color: #f9f8ff;
    width: 60%;
    text-align: center;
    margin-bottom: 80px;
  }

    th,td{
      padding: 20px;
    }



