* {
  margin: 0;
}

/* *********************** POLICES ******************************* */

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");

/* *********************** BODY ******************************* */

body {
  background-color: #1f2039;
}


/* *********************** HEADER ******************************* */

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo img:hover {
  opacity: 0.5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: #242424;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}


/* *********************** SECTION CONTENT-HOME ******************************* */

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
}

/* *********************** SECTION CONTACT ******************************* */

.cta {
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 50px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover {
  background: linear-gradient(90deg, #696484, #8788ba);
}

.cta a {
  text-decoration: none;
}

/* *********************** FOOTER ******************************* */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.icon a {
  margin-right: 20px;
}

.icon:hover {
  opacity: 0.5;
}
